body{
    background-color: #1E3A8A;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
}

.page{
    display: flex;
    align-items: center;
    justify-content: center;
   align-items: stretch;
}

.form{
    background-color: white;
    padding: 25px;
border-radius: 20px 0 0 20px;
    

}
header{
    font-weight: 900;
    font-size: xx-large;
    color: #F97316;
    text-align: center;
   
}

.form input,.form textarea{
    border-radius: 15px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: #3B82F6 2px solid;
    margin-top: 10px;
}

.form input[type="submit"]{
    background-color: #F97316;
    border: #F97316 solid;
}
.form input[type="submit"] :hover{
    background-color: #1E3A8A;
}

.image{
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 20px 0;
}

.image img{
    border-radius: 10px;
}
h5{
    color: #1E3A8A;
}
p{
    color: #1E3A8A;
}


