body {
    font-family: Poppins, sans-serif;
    background-color: #F3F4F6;
    margin: 0;
}

header {
    background-color: #1E3A8A;
    color: white;
    text-align: center;
    padding: 15px;
}



section {
    padding: 20px;
}

h2 {
    color: #1E3A8A;
    border-left: 5px solid #F97316;
    padding-left: 10px;
}

footer {
    background-color: #1E3A8A;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

input[type="submit"] {
    background-color: #F97316;
    color: white;
}

